.PrimaryGrid-cell {
  width: 3rem;
  height: 3rem;
  background-color: #212121; 
  border: #fafafa solid 1px;
  padding: 0;
}

.PrimaryGrid-ship {
  background-color: #bdbdbd;
}

.PrimaryGrid-peg {
  height: 40%;
  width: 40%;
  border-radius: 50%;
  background-color: none;
  margin: auto;
}

.PrimaryGrid-peg.PrimaryGrid-sunk {
  background-color: #b71c1c !important;
}

.PrimaryGrid-peg.PrimaryGrid-hit {
  background-color: #ff9800 ;
}

.PrimaryGrid-peg.PrimaryGrid-miss {
  background-color: white;
}

.PrimaryGrid-hover {
  background-color: #546e7a !important;
}